<nav class="subnav">
        <ul class="nav">
          <li class="nav-item">          
            <a class="nav-link active" href="" routerLink="/home">Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/account">Account</a>
          </li>
          <li class="nav-item">          
            <a class="nav-link" href="" routerLink="/payment">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/utility">Utility</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" routerLink="/report">Report</a>
          </li>          
      </ul>
    </nav>