<div class="main-container">
    <!--<div class="alert alert-app-level">
        
    </div>-->
    <header class="header header-6" style="background-color: #00968B !important">
        <div class="branding">
          <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">{{title}}</span>
          </a>
        </div>
        <div class="header-nav">
            <!--<a href="javascript://" class="active nav-link nav-text">Dashboard</a>
            <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>-->
        </div>
        <div class="header-actions">
          <!--<a href="javascript://" class="nav-link nav-icon">
              <clr-icon shape="cog"></clr-icon>
          </a>-->
          <clr-dropdown clrMenuPosition="bottom-right">
            <button class="nav-text" clrDropdownToggle>
                {{loginName}}
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu>
                <a href="..." clrDropdownItem>Profile</a>
                <a href="..." clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
          </clr-dropdown>            
        </div>
    </header>
    <app-nav></app-nav>
    <div class="content-container">
        <div class="content-area">
           <router-outlet></router-outlet>
        </div>
        <!--<nav class="sidenav">
           
        </nav>-->
    </div>
</div>

